@model BlockchainHub.BlockExplorer.Models.AddressModel
@{
    ViewBag.Title = "Address";
    Layout = "~/Views/_LayoutPage.cshtml";
    ViewBag.HeaderTitle = "Address";
}

<div class="website-container">
    <div class="navigator">Home &nbsp/ &nbspAddress: @Model.Address</div>

    <div class="panel panel-custom">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel-heading-address-left">@Model.Address</div>
                </div>
                <div class="col-sm-6">
                    <div class="panel-heading-address-right text-right sm-text-left">@Model.TotalReceived</div>
                </div>
            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="bitcoin-address-info-record"><strong>Confirmed Balance</strong><span class="float-right color-gray">@Model.ConfirmedBalance</span></div>
                    <div class="bitcoin-address-info-record"><strong>Total received</strong><span class="float-right color-gray">@Model.TotalReceived</span></div>
                    <div class="bitcoin-address-info-record"><strong>Transactions</strong><span class="float-right color-gray">@Model.TransactionCount</span></div>
                    <div class="bitcoin-address-info-record"><strong>Unconfirmed</strong><span class="float-right color-gray">@Model.UnconfirmedBalance</span></div>
                    <div class="report-an-issue-container"><a href="#" class="report-an-issue"><div class="report-issue-img"></div>Report an issue</a></div>
                </div>
                <div class="col-md-6">
                    <div class="qr-container">
                        <img src="img/qr-example.png" />
                        <div><span class="link-this-qr"><a href="#">Link this QR</a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-big">TRANSACTIONS</div>
    
    <div class="panel-group accordion-custom" id="accordion">
        @foreach(var transaction in Model.Transactions)
        {
            <div class="panel panel-default @(transaction.Income ? "accordion-panel-red" : "accordion-panel-blue")">
                <div class="panel-heading c-1" data-parent="#accordion">
                    <div class="row">
                        <div class="col-md-7">
                            <a href="~/tx/@transaction.Hash"><span class="transaction-id">@transaction.Hash</span></a>
                        </div>
                        <div class="col-md-5">
                            <div class="text-right md-text-left">
                                <div class="transaction-btc">@transaction.Amount</div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        }
    </div>
</div>
