@model BlockchainHub.BlockExplorer.Models.BlockModel
@{
    ViewBag.Title = "Block";
    Layout = "~/Views/_LayoutPage.cshtml";
    ViewBag.HeaderTitle = "Block";
}

<div class="website-container">
    <div class="navigator">Home &nbsp/ &nbspBlock @Model.Height</div>

    <div class="panel panel-custom panel-blue">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel-heading-address-left">
                        @Model.Height
                        <div class="transaction-date"><img src="~/img/clock-icon-white.png" /><span>@Model.BlockTime.ToString("F")</span></div>
                    </div>
                </div>
                @*<div class="col-sm-6">
                        <div class="panel-heading-address-right text-right sm-text-left">@Model.TotalTransacted BTC</div>
                    </div>*@
            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="bitcoin-address-info-record"><strong>Height</strong><span class="float-right color-gray">@Model.Height</span></div>
                    <div class="bitcoin-address-info-record"><strong>Block time</strong><span class="float-right color-gray">@Model.BlockTime.ToString("F")</span></div>
                    @*<div class="bitcoin-address-info-record"><strong>Trades sum</strong><span class="float-right color-gray">@Model.TotalTransacted BTC</span></div>*@
                    <div class="bitcoin-address-info-record"><strong>Transactions count</strong><span class="float-right color-gray">@Model.TransactionCount</span></div>
                    <div class="bitcoin-address-info-record"><strong>Difficulty</strong><span class="float-right color-gray">@Model.Difficulty</span></div>
                    <div class="bitcoin-address-info-record"><strong>Fee</strong><span class="float-right color-gray">@Model.Fee</span></div>
                    <div class="bitcoin-address-info-record"><strong>Hash</strong><span class="float-right color-gray">@Model.Hash</span></div>
                </div>
                <div class="col-md-6">
                    <div class="bitcoin-address-info-record"><strong>Version</strong><span class="float-right color-gray">@Model.Version</span></div>
                    <div class="bitcoin-address-info-record"><strong>Confirmations</strong><span class="float-right color-gray">@Model.Confirmations</span></div>
                    <div class="bitcoin-address-info-record"><strong>Merkle root</strong><span class="float-right color-gray">@Model.MerkleRoot</span></div>
                    <div class="bitcoin-address-info-record"><strong>Prev block hash</strong><span class="float-right color-blue" style="text-decoration: underline">@Model.Previous</span></div>
                    <div class="bitcoin-address-info-record"><strong>Size</strong><span class="float-right color-gray">@Model.Size</span></div>
                    <div class="bitcoin-address-info-record"><strong>Stripped size</strong><span class="float-right color-gray">@Model.StrippedSize</span></div>
                    @*<div class="bitcoin-address-info-record"><strong>Coin days destroyed</strong><span class="float-right color-gray">4,957.98</span></div>*@
                </div>
            </div>
            <div class="report-an-issue-container">
                <a href="#" class="report-an-issue"><div class="report-issue-img"></div>Report an issue</a>
                <a href="#" class="float-right bookmark"><span class="color-gray bookmark-span">bookmark</span> <img src="~/img/bookmark.png" /></a>
            </div>
        </div>
    </div>

    <div class="text-big">TRANSACTIONS <span class="text-small">(for Block @Model.Height)</span></div>







    <div class="panel-group accordion-custom accordion-block" id="accordion">
        @foreach(var transaction in Model.Transactions)
        {
            <div class="panel panel-default">
                <div class="panel-heading c-1" data-toggle="collapse" data-parent="#accordion" href="@("#collapse" + transaction.Index)">
                    <div class="row">
                        <div class="col-md-7">
                            @if(transaction.IsCoinbase)
                            {<span class="transaction-coinbase">coinbase</span>}
                            <a href="~/tx/@transaction.Hash"><span class="transaction-id">@transaction.Hash</span></a>
                        </div>
                        <div class="col-md-5">
                            <div class="text-right md-text-left">
                                <div class="transaction-btc">@transaction.Amount</div>
                            </div>
                        </div>
                    </div>
                    <a data-toggle="collapse" data-parent="#accordion" href="@("#collapse" + transaction.Index)"><div class="accordion-arrow arrow-double"></div></a>
                </div>
                <div id="@("collapse" + transaction.Index)" class="panel-collapse collapse">
                    <div class="panel-body">
                        @*<div class="additional-margin">
                            <span class="transaction-id"><strong>@transaction.Hash</strong></span>
                        </div>*@
                        <a data-toggle="collapse" data-parent="#accordion" href="@("#collapse" + transaction.Index)"><div class="accordion-arrow arrow-up"></div></a>

                        <div class="accordion-block-margin-fix">

                            @for(int i = 0; i < Math.Max(transaction.Inputs.Count, transaction.Outputs.Count); i++)
                            {
                                var input = transaction.Inputs.Skip(i).FirstOrDefault();
                                var output = transaction.Outputs.Skip(i).FirstOrDefault();
                                <div class="row accordion-row-margin-bot">
                                    
                                    <div class="col-lg-4 color-blue">
                                        @(input == null ? " " : input.ScriptPubKey)
                                    </div>

                                    <div class="col-lg-2" style="text-align:end">
                                        @(input == null ? " " : "-" + input.Amount)
                                    </div>
                                    <div class="col-lg-4 color-blue">
                                        @(output == null ? " " : output.ScriptPubKey)
                                    </div>

                                    <div class="col-lg-2 text-right lg-text-left" style="text-align:end;padding-right: 55px;">
                                        @(output == null ? " " : output.Amount)
                                    </div>
                                </div>}

                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    @*<div class="days-destroyed">Days destroyed: 0.46</div>*@
                                </div>
                                <div class="col-sm-6">
                                    <div class="float-right" style="padding-right:45px;">
                                        <table style="text-align:end;">
                                            <thead></thead>
                                            <tbody>
                                                <tr>
                                                    <td><strong>Fee:</strong></td>
                                                    <td>@transaction.Fee</td>
                                                </tr>
                                                <tr>
                                                    <td class="color-blue"><strong>Transaction sum:</strong></td>
                                                    <td class="color-blue"><strong>@transaction.Amount</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="text-center load-more-container"><a href="?count=@Model.NextCount"><span class="load-more noselect">Load more</span></a></div>
</div>
