@model BlockchainHub.BlockExplorer.Models.MainModel
@{
    ViewBag.Title = "BlockchainHub's Block Explorer";
    Layout = "~/Views/_LayoutPage.cshtml";
    ViewBag.HideSearchButton = true;
}

<div class="website-container">
    <div class="blockchain-text">
        <h1>LAST BITCOIN BLOCKS</h1>
        <img src="img/chain.png" class="img-chain" />
    </div>

    <table class="last-bitcoin-blocks">
        <thead>
        <th style="width: 20%">Block height</th>
        <th style="width: 20%">Block created</th>
        <th style="width: 20%" class="hidden-xs">Transactions</th>
        <th style="width: 20%" class="hidden-sm hidden-xs">Block fee</th>
        <th style="width: 15%" class="hidden-md hidden-sm hidden-xs">Size (kb)</th>
        </thead>
        <tbody>
            @foreach(var block in Model.Blocks)
            {
                <tr class="clickable-row" data-href="@Url.Action("Block", new { blockFeature = block.Hash })">
                    <td>@block.Height</td>
                    <td>@block.Time</td>
                    <td class="hidden-xs">@block.TransactionsCount</td>
                    <td class="hidden-sm hidden-xs">@block.Fees</td>
                    <td class="hidden-md hidden-sm hidden-xs">@block.Size</td>
                </tr>
            }            
        </tbody>
    </table>

    <div class="text-center load-more-container"><a href="~/?count=@Model.NextCount"><span class="load-more noselect">Load more</span></a></div>
</div>

@*<div class="bg-white">
    <div class="website-container">
        <div class="blockchain-text">
            <h1>NETWORK</h1>
            <img src="img/chain.png" class="img-chain" />
        </div>

        <div class="row row-network">
            <div class="col-md-3">
                <div class="network-1">Last block</div>
                <div class="color-blue">____</div>
                <div class="network-1">1ab1c6</div>
                <div class="network-2 color-gray">generated on 2016-08-18 08:37:15</div>
                <div class="network-1">2836 transactions</div>
            </div>

            <div class="col-md-3">
                <div class="network-1">DIFFICULTY</div>
                <div class="color-blue">____</div>
                <div class="network-1">217,375,482,757.24</div>
                <div class="network-2 color-gray">
                    Difficulty is a measure of how
                    difficult it is to find a new block
                    below a given target.
                </div>
            </div>

            <div class="col-md-3">
                <div class="network-1">COINS IN CIRCULATION</div>
                <div class="color-blue">____</div>
                <div class="network-1">15,821,025</div>
                <div class="network-2 color-gray">of ~21 Million (75.34%)</div>
            </div>

            <div class="col-md-3">
                <div class="network-1">NEXT DIFFICULTY</div>
                <div class="color-blue">____</div>
                <div class="network-1">191,546,561,712.55</div>
                <div class="network-2 color-gray">-11.88% change to current</div>
                <div class="network-2 color-gray"><strong>1706 blocks until difficulty changes</strong></div>
            </div>
        </div>
    </div>
</div>

<div class="website-container">
    <div class="blockchain-text">
        <h1>WHAT DO WE OFFER</h1>
        <img src="img/chain.png" class="img-chain" />
    </div>

    <div class="row row-offer">
        <div class="col-md-4">
            <div class="block-offer">
                <img class="offer-1-responsive" src="img/offer-1.png" />
                <h1>BLOCK SEARCH</h1>
                <h2>Aliquam sollicitudin vehicula nisl hendrerit placerat.Pellentesque placerat nulla id neque varius</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block-offer">
                <img class="offer-2-responsive" src="img/offer-2.png" />
                <h1>BLOCK SEARCH</h1>
                <h2>Aliquam sollicitudin vehicula nisl hendrerit placerat.Pellentesque placerat nulla id neque varius</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block-offer">
                <img class="offer-3-responsive" src="img/offer-3.png" />
                <h1>BLOCK SEARCH</h1>
                <h2>Aliquam sollicitudin vehicula nisl hendrerit placerat.Pellentesque placerat nulla id neque varius</h2>
            </div>
        </div>
    </div>*@

    <div class="offer-space"></div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>