@model BlockchainHub.BlockExplorer.Models.TransactionModel
@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/_LayoutPage.cshtml";
    ViewBag.HeaderTitle = "Transaction";
}

<div class="website-container">
    <div class="navigator">Home &nbsp/ 
    @if(Model.BlockHeight != null)
    {
        <span><a href="~/blocks/@Model.BlockHeight.Value">Block @Model.BlockHeight.Value</a> &nbsp/</span>
    }&nbspTx: @Model.Hash</div>

    <div class="panel panel-custom panel-blue">
        <div class="panel-heading panel-heading-green">
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel-heading-address-left">
                        @Model.Hash
                        <div class="transaction-date"><img src="~/img/clock-icon-white.png" /><span>@Model.SeenDate.ToString("F")</span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel-heading-address-right text-right sm-text-left">@Model.OutputAmount</div>
                </div>
            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="bitcoin-address-info-record"><strong>Input Amount</strong><span class="float-right color-gray">@Model.InputAmount</span></div>
                    <div class="bitcoin-address-info-record"><strong>Output Amount</strong><span class="float-right color-gray">@Model.OutputAmount</span></div>
                    @if(Model.BlockHeight != null)
                    {
                        <div class="bitcoin-address-info-record"><strong>Included in Block</strong><span class="float-right"><a href="~/blocks/@Model.BlockHeight.Value">@Model.BlockHeight.Value</a></span></div>}
                    <div class="bitcoin-address-info-record"><strong>Fee</strong><span class="float-right color-gray">@Model.Fee</span></div>
                    <div class="bitcoin-address-info-record"><strong>Fee rate</strong><span class="float-right color-gray">@Model.FeeRate</span></div>
                </div>
                <div class="col-md-6">
                    <div class="bitcoin-address-info-record"><strong>Confirmations</strong><span class="float-right color-gray">@Model.Confirmations</span></div>
                    <div class="bitcoin-address-info-record"><strong>Version</strong><span class="float-right color-gray">@Model.Version</span></div>
                    <div class="bitcoin-address-info-record"><strong>Size</strong><span class="float-right bytes">@Model.Size</span></div>
                    <div class="bitcoin-address-info-record"><strong>Stripped size</strong><span class="float-right bytes">@Model.StrippedSize</span></div>
                </div>
            </div>
            <div class="report-an-issue-container">
                <a href="#" class="report-an-issue"><div class="report-issue-img"></div>Report an issue</a>
                <a href="#" class="float-right bookmark"><span class="color-gray bookmark-span">bookmark</span> <img src="~/img/bookmark.png" /></a>
            </div>
        </div>
    </div>

    <div class="text-big">NEWLY GENERATED COINS</div>

    <div class="panel panel-custom panel-blue panel-newly-generated">
        <div class="panel-body">

            @for(int i = 0; i < Math.Max(Model.Inputs.Count, Model.Outputs.Count); i++)
            {
                var input = Model.Inputs.Skip(i).FirstOrDefault();
                var output = Model.Outputs.Skip(i).FirstOrDefault();
                <div class="row accordion-row-margin-bot">
                    <div class="col-lg-4 color-green font-bold">
                        @if(input != null)
                        {<div class="btn-arrow-left"></div>}
                        @(input == null ? " " : input.ScriptPubKey)
                    </div>

                    <div class="col-lg-2 font-bold font-gray">
                        @(input == null ? " " : "-" + input.Amount)
                    </div>

                    <div class="col-lg-4 font-gray">
                        @(output == null ? " " : output.ScriptPubKey)
                    </div>

                    <div class="col-lg-2 text-right lg-text-left font-gray">
                        @(output == null ? " " : output.Amount)
                        @if(output != null)
                        {<div class="btn-arrow-right-static btn-arrow-right"></div>}
                    </div>
                </div>}

            <hr>

            <div class="row">
                <div class="col-sm-6">
                    @*<div style="margin-left: 35px"><span class="font-bold">Show:</span> Trade | Raw</div>*@
                </div>
                <div class="col-sm-6">
                    <div class="float-right">
                        <table class="custom-table">
                            <thead></thead>
                            <tbody>
                                @*<tr>
                                        <td><strong>Fee:</strong></td>
                                        <td class="color-gray">0.00100000</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Traded:</strong></td>
                                        <td class="color-gray">0.00100000</td>
                                    </tr>*@
                                <tr>
                                    <td class="color-green"><strong>Transaction sum:</strong></td>
                                    <td class="color-gray">@Model.OutputAmount</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 30px"></div>

</div>
